doctype html
html 
    head 
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        div.content-wrapper    
            h1 Disc Golf discs - Add disc
            a(href="/") Return to the homepage
        div.form-wrapper
            form(action="/update-cobj", method="POST")
                p
                    | Disc name: 
                    input(type="text", name="discname", value="")
                p
                    | Manufacturer: 
                    input(type="text", name="manufacturer", value="")
                p
                    | Speed: 
                    input(type="text", name="speed", value="")
                p
                    input(type="submit", value="Submit")